section(id="about")
    .container
        .row
            .col-lg-12.text-center
                h2 About
                hr(class="star-light")
        .row
            .col-lg-4.col-lg-offset-2
                p
                    |Hello! I'm Nathan Morgan, a North East England based Web Developer who specializes in PHP, Databases and Node.
                    |You can find the full list of my current skills below. I have been working with websites for almost 6 years,
                    |picking up and learning via online tutorials and blogs then expanding onto studying web development at University.
            .col-lg-4
                p
                    |What started me off with wanting to learn about Web Development was a youtube video entitled 
                    em "Web 2.0 ... The Machine is Us/ing Us" 
                    |by a professor of Cultural Anthropology at Kansas State University 
                    em "Michael Wesch".
                    |This video is a snapshot in history and shows how the web has evolved from being a single static website to something much bigger 
                    |allowing for collaboration.
            .col-lg-8.col-lg-offset-2
                .embed-responsive.embed-responsive-16by9
                    iframe(class="embed-responsive-item" src="//www.youtube.com/embed/6gmP4nk0EOE" allowfullscreen)
