extends layout

block content
    #homeWrapper.navChange
        h1 Home
        |Thank you for visiting my website. This site is currently under construction so it may look strange on your browser but keep checking back!
