doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    
    meta(name="google-site-verification" content="s5Yx5jgOGgXvf1GoMlMtoZgBhnBchhRFJUm6wIZV4lc")
    meta(name="google-site-verification" content="s5Yx5jgOGgXvf1GoMlMtoZgBhnBchhRFJUm6wIZV4lc")
    
    title= title
    
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/devicons/devicons.css')
    link(rel='stylesheet', href='/stylesheets/freelancer.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")
  body(id="page-top", class="index")
    nav(class="navbar navbar-default navbar-fixed-top")
      .container
          .navbar-header.page-scroll
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                  span(class="sr-only")
                    |Toggle navigation
                  span(class="icon-bar")
                  span(class="icon-bar")
                  span(class="icon-bar")
              a(class="navbar-brand" href="#page-top")
                |Tuqiri.net
          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul(class="nav navbar-nav navbar-right")
                li(class="hidden")
                    a(href="#page-top")
                li(class="page-scroll")
                    a(href="#portfolio")
                        |Portfolio
                li(class="page-scroll")
                    a(href="#about")
                        |About
                li(class="page-scroll")
                    a(href="http://blog.tuqiri.net")
                        |Blog
                li(class="page-scroll")
                    a(href="#contact")
                        |Contact
    header(id="home")
        .container
            .row
                .col-lg-12
                    img(class="img-responsive" src="/images/logo.png" alt="Site Logo")
                    span(class="name") Nathan Morgan
                    hr(class="star-light")
                    span(class="skills") Web Developer - Database Designer - Programmer
    
    footer(class="text-center")
        .footer-above
            .container
                .row
                    .footer-col.col-md-4
                        h3 Location
                        p
                            |Teesside, Middlesbrough
                            br
                            |North Yorkshire
                    .footer-col.col-md-4
                        h3 Around the Web
                        ul(class="list-inline")
                            li
                                address
                                    a(href="mailto:nathan.morgan@tuqiri.net" class="btn-social btn-outline")
                                        i(class="fa fa-at")
                            li
                                a(href="http://uk.linkedin.com/in/nathandavidmorgan" class="btn-social btn-outline")
                                    i(class="fa fa-linkedin")
                            li
                                a(href="http://blog.tuqiri.net" class="btn-social btn-outline")
                                    i(class="fa fa-tumblr")
                    .footer-col.col-md-4#usefulStuff
                        h3 Useful Stuff
                        p
                            |Site created in 
                            a(href="http://expressjs.com/") express.js
                            |  using 
                            a(href="http://nodejs.org/") node.js
                            |  server
                        p
                            
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    
    script(src='javascripts/bootstrap.min.js')
    
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='javascripts/classie.js')
    script(src='javascripts/cbpAnimatedHeader.js')
    
    script(src='javascripts/jqBootstrapValidation.js')
    
    script(src='javascripts/freelancer.js')
