extends layout

block content
    #portfolioWrapper.navChange
        h1 Projects
        |All the projects that have been completed or partialy completed is listed below clicking on one will open up a pop-up that will show extra details on the selected project.
        #portfolioBox
            .projects
                .projectsTitle ExpoTees
                .projectIcon
                    img(src="/images/projects/expotees/ExpoTees-logo_2014.png")
                .projectIdent Personal
            .projects
                .projectsTitle Tuqiri.net
                .projectIcon
                    img(src="/images/global/Tuqiri-logo.png")
                .projectIdent Website
            .projects
                .projectsTitle ProviMarket
                .projectIcon
                    img(src="/images/projects/provimarket/apocnow.png")
                .projectIdent Website
            .projects
                .projectsTitle SharpFrame
                .projectIcon
                    img(src="/images/projects/sharpframe/sharpframe-logo.png")
                .projectIdent Website
            .projects
                .projectsTitle Simpson Group Store
                .projectIcon
                    img(src="/images/projects/simpsongroupstore/windows8-logo.png")
                .projectIdent Windows 8 Application
            .projects
                .projectsTitle Equestria Galleries
                .projectIcon
                    img(src="/images/projects/equestriagalleries/equestriagalleries.png")
                .projectIdent Database
            .projects
                .projectsTitle DerpyMail
                .projectIcon
                    img(src="/images/projects/derpymail/derpymail-logo.png")
                .projectIdent Service